@model HOGRegister.Models.Worker
@{
    Layout = "~/Views/Shared/DetailsLayout.cshtml";
}

<!-- InnerPage breadcrumb begin -->
<section id="apus-breadscrumb" class="breadcrumb-page apus-breadscrumb ">
    <div class="container">
        <div class="wrapper-breads">
            <div class="wrapper-breads-inner">
                <div class="breadscrumb-inner flex-middle-sm clearfix">
                    <div class="ali-right">
                        <h2 class="bread-title">ADD WORKER</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- InnerPage breadcrumb end -->
<!-- InnerPage content begin -->
<section id="main-container" class="main-content container inner">
    <div class="row">

        <div id="main-content" class="col-sm-12 col-xs-12 clearfix">
            <main id="main" class="site-main" role="main">

                <div data-elementor-type="wp-post" data-elementor-id="330" class="elementor elementor-330" data-elementor-settings="[]">
                    <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                            <section class="elementor-element elementor-element-3944b05 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="3944b05" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-b9e7e42 elementor-column elementor-col-100 elementor-top-column" data-id="b9e7e42" data-element_type="column">
                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-c8aef06 elementor-widget elementor-widget-text-editor" data-id="c8aef06" data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <div class="candidates-listing-wrapper main-items-wrapper layout-type-grid" data-display_mode="grid">
                                                                    <div class="clearfix candidate-instruction">
                                                                        <div class="candidate-job">
                                                                            <h4 class="candidate-title"> Please put same finger for validation.</h4>
                                                                        </div>
                                                                    </div>
                                                                    <!-- Message alert begin-->
                                                                    <div class="jobs-alert-ordering-wrapper sign-in-demo-notice">
                                                                        <div class="results-count"> Showing <span class="first">1</span> – <span class="last">9</span> of 10 results</div>
                                                                    </div>
                                                                    <!-- Message alert end-->
                                                                    <!-- Finger Image boxes begin-->
                                                                    <div class="candidates-wrapper items-wrapper">
                                                                        <div class="row flex-space-between">
                                                                            <!-- Finger Image box 1 begin-->
                                                                            <div class="col-sm-6 col-md-4 col-xs-12 md-clearfix sm-clearfix">
                                                                                <article id="post-833" class="post-833 candidate type-candidate status-publish has-post-thumbnail hentry candidate_category-design-multimedia candidate_location-london">
                                                                                    <div class="candidate-grid">
                                                                                        <div class="top-inner">
                                                                                            <div class="candidate-logo-reform text-center">
                                                                                                <img width="300" height="400" src="~/Content/Images/06/client-4-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" sizes="(max-width: 150px) 100vw, 150px">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="candidate-information flex justify-content-between">
                                                                                            <a class="btn-link-candidate"><i class="glyphicon glyphicon-ok"></i>Fingerprint gotten</a>
                                                                                            <a href="#" class="btn-link-candidate"><i class="glyphicon glyphicon-remove"></i>Remove</a>
                                                                                        </div>
                                                                                    </div>
                                                                                </article>
                                                                            </div>
                                                                            <!-- Finger Image box 1 end-->
                                                                            <!-- Finger Image box 2 begin-->
                                                                            <div class="col-sm-6 col-md-4 col-xs-12  ">
                                                                                <article id="post-830" class="post-830 candidate type-candidate status-publish has-post-thumbnail hentry candidate_category-education-training candidate_location-los-angeles">
                                                                                    <div class="candidate-grid">
                                                                                        <div class="top-inner">
                                                                                            <div class="candidate-logo-reform text-center">
                                                                                                <img width="300" height="400" src="~/Content/Images/06/client-3-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" sizes="(max-width: 150px) 100vw, 150px">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="candidate-information">
                                                                                            <a href="#" class="btn-link-candidate"><i class="fa fa-hand-pointer-o"></i>Scan Finger</a>
                                                                                        </div>
                                                                                    </div>
                                                                                </article><!-- #post-## -->

                                                                            </div>
                                                                            <!-- Finger Image box 2 end-->
                                                                        </div>
                                                                    </div>
                                                                    <!-- Finger Image boxes end-->
                                                                    <input type="hidden" name="Id" class="form-control" value="@Model.Id" id="job_alert_form_widget-4_title">

                                                                    <!-- centered submit button begin-->
                                                                    <div class="candidates-pagination-wrapper main-pagination-wrapper">
                                                                        <div class="pagination ">
                                                                            <div><a href="#" class="btn btn-apply">Register</a></div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- centered submit button end-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </main><!-- .site-main -->
        </div><!-- .content-area -->

    </div>
</section>
<!-- InnerPage content end -->