@{
    ViewBag.Title = "HOG Workers Register";
}

<div id="apus-main-content">
    <section id="main-container" class="container inner">
        <div class="row">
            <div id="main-content" class="main-page col-xs-12 clearfix">
                <div id="main" class="site-main clearfix" role="main">

                    <div data-elementor-type="wp-post" data-elementor-id="7" class="elementor elementor-7" data-elementor-settings="[]">
                        <div class="elementor-inner">
                            <div class="elementor-section-wrap">
                                <section class="elementor-element elementor-element-ec05c83 elementor-section-stretched elementor-section-content-middle height-lg-full elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                         data-id="ec05c83" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-container elementor-column-gap-extended">
                                        <div class="elementor-row">
                                            <div class="elementor-element elementor-element-0a734a2 elementor-column elementor-col-100 elementor-top-column" data-id="0a734a2" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-widget-wrap">

                                                        <div class="elementor-element elementor-element-01e9d82 elementor-widget elementor-widget-spacer" data-id="01e9d82" data-element_type="widget" data-widget_type="spacer.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-spacer">
                                                                    <div class="elementor-spacer-inner"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- first you deserve text -->
                                                        <div class="elementor-element elementor-element-e5fa385 elementor-invisible elementor-widget elementor-widget-heading"
                                                             data-id="e5fa385" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;,&quot;_animation_delay&quot;:300}" data-widget_type="heading.default">
                                                            <div class="elementor-widget-container">
                                                                <h2 class="elementor-heading-title elementor-size-default">
                                                                    HOG Workers Register System
                                                                </h2>
                                                            </div>
                                                        </div>
                                                        <!-- first you deserve text -->
                                                        <!-- Spacer begin -->
                                                        <div class="elementor-element elementor-element-f3d89a0 elementor-widget elementor-widget-spacer" data-id="f3d89a0"
                                                             data-element_type="widget" data-widget_type="spacer.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-spacer">
                                                                    <div class="elementor-spacer-inner"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Spacer end -->
                                                        <!-- Spacer begin -->
                                                        <div class="elementor-element elementor-element-f3d89a0 elementor-widget elementor-widget-spacer" data-id="f3d89a0"
                                                             data-element_type="widget" data-widget_type="spacer.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-spacer">
                                                                    <div class="elementor-spacer-inner"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Spacer end -->
                                                        <!-- form containing section begin -->
                                                        <section class="elementor-element elementor-element-7843c5f animated-fast elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible elementor-section elementor-inner-section"
                                                                 data-id="7843c5f" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;none&quot;,&quot;animation_delay&quot;:1200}">
                                                            <div class="elementor-container elementor-column-gap-default">
                                                                <div class="elementor-row">
                                                                    <div class="elementor-element elementor-element-fd47e2c elementor-column elementor-col-100 elementor-inner-column"
                                                                         data-id="fd47e2c" data-element_type="column">
                                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                                            <div class="elementor-widget-wrap">
                                                                                <div class="elementor-element elementor-element-8407150 elementor-widget elementor-widget-workup_job_board_search_form"
                                                                                     data-id="8407150" data-element_type="widget" data-widget_type="workup_job_board_search_form.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="widget-job-search-form ">
                                                                                            <!-- homepage search form begin -->
                                                                                            <form action="#" class="form-search layout1" method="GET">
                                                                                                <div class="flex-middle-sm search-form-inner">
                                                                                                    <div class="form-group form-group-title  ">
                                                                                                        <div class="form-group-inner inner">
                                                                                                            <input type="text"
                                                                                                                   name="filter-title"
                                                                                                                   class="form-control "
                                                                                                                   value=""
                                                                                                                   id="IHPAd_title"
                                                                                                                   placeholder="Surname">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <!-- /.form-group -->
                                                                                                    <div class="form-group form-group-category  ">
                                                                                                        <div class="form-group-inner inner">
                                                                                                            <select name="filter-category" class="form-control" id="IHPAd_category" data-placeholder="Units">
                                                                                                                <option value="">
                                                                                                                    Filter by Category
                                                                                                                </option>
                                                                                                                <option value="45">
                                                                                                                    Accounting &amp; Finance (3)
                                                                                                                </option>
                                                                                                            </select>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <!-- /.form-group -->
                                                                                                    <div class="form-group form-group-center-location">
                                                                                                        <div class="form-group-inner inner">
                                                                                                            <div class="action-location">
                                                                                                                <input type="date" name="filter-center-location" class="form-control" value="" id="IHPAd_center-location"
                                                                                                                       placeholder="Date">
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <!-- /.form-group -->
                                                                                                    <div class="form-group form-group-search">
                                                                                                        <button class="btn-submit btn btn-block btn-theme" type="submit">Search</button>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </form>
                                                                                            <!-- homepage search form end -->
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="elementor-element elementor-element-2c7a9ba elementor-widget elementor-widget-spacer"
                                                                                     data-id="2c7a9ba" data-element_type="widget" data-widget_type="spacer.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="elementor-spacer">
                                                                                            <div class="elementor-spacer-inner">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <!-- form containing section end -->
                                                        <!-- real-time stats begin -->
                                                        <section class="elementor-element elementor-element-2a70dba elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                                                 data-id="2a70dba" data-element_type="section">
                                                            <div class="elementor-container elementor-column-gap-default">
                                                                <div class="elementor-row">
                                                                    <div class="elementor-element elementor-element-cc324ce animated-fast elementor-invisible elementor-column elementor-col-33 elementor-inner-column"
                                                                         data-id="cc324ce" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;none&quot;,&quot;animation_delay&quot;:1800}">
                                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                                            <div class="elementor-widget-wrap">
                                                                                <div class="elementor-element elementor-element-6c59274 elementor-widget elementor-widget-workup_achievements"
                                                                                     data-id="6c59274" data-element_type="widget" data-widget_type="workup_achievements.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="widget-achievements flex-bottom justify-content-center ">
                                                                                            <div class="inner-left">
                                                                                                <i class="icon-profile-male"></i>
                                                                                                <span class="verify"><i class="fa fa-check"></i></span>
                                                                                            </div>
                                                                                            <div class="info-right">
                                                                                                <h2 class="title"> 309 </h2>
                                                                                                <div class="description"> Active Workers </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-07edd41 animated-fast elementor-invisible elementor-column elementor-col-33 elementor-inner-column"
                                                                         data-id="07edd41" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;none&quot;,&quot;animation_delay&quot;:2000}">
                                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                                            <div class="elementor-widget-wrap">
                                                                                <div class="elementor-element elementor-element-fb70359 elementor-widget elementor-widget-workup_achievements"
                                                                                     data-id="fb70359" data-element_type="widget" data-widget_type="workup_achievements.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="widget-achievements flex-bottom justify-content-center ">
                                                                                            <div class="inner-left">
                                                                                                <i class="icon-desktop"></i>
                                                                                                <span class="verify"><i class="fa fa-check"></i></span>
                                                                                            </div>
                                                                                            <div class="info-right">
                                                                                                <h2 class="title"> 16 </h2>
                                                                                                <div class="description"> Units </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-db0858f animated-fast elementor-invisible elementor-column elementor-col-33 elementor-inner-column"
                                                                         data-id="db0858f" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;none&quot;,&quot;animation_delay&quot;:2200}">
                                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                                            <div class="elementor-widget-wrap">
                                                                                <div class="elementor-element elementor-element-c70761e elementor-widget elementor-widget-workup_achievements"
                                                                                     data-id="c70761e" data-element_type="widget" data-widget_type="workup_achievements.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="widget-achievements flex-bottom justify-content-center ">
                                                                                            <div class="inner-left">
                                                                                                <i class="icon-global"></i>
                                                                                                <span class="verify"><i class="fa fa-check"></i></span>
                                                                                            </div>
                                                                                            <div class="info-right">
                                                                                                <h2 class="title"> 4 </h2>
                                                                                                <div class="description"> Leaders </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <!-- real-time stats end -->
                                                        <!-- Spacer begin -->
                                                        <div class="elementor-element elementor-element-f3d89a0 elementor-widget elementor-widget-spacer" data-id="f3d89a0"
                                                             data-element_type="widget" data-widget_type="spacer.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-spacer">
                                                                    <div class="elementor-spacer-inner"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Spacer end -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <!-- second section begin -->
                                <section class="elementor-element elementor-element-67c4590 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                         data-id="67c4590" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-background-overlay"></div>
                                    <div class="elementor-container elementor-column-gap-extended">
                                        <div class="elementor-row">
                                            <div class="elementor-element elementor-element-1c4058e elementor-column elementor-col-100 elementor-top-column" data-id="1c4058e" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-widget-wrap">

                                                        <div class="elementor-element elementor-element-3ac4c94 elementor-widget elementor-widget-spacer" data-id="3ac4c94" data-element_type="widget" data-widget_type="spacer.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-spacer">
                                                                    <div class="elementor-spacer-inner"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="elementor-element elementor-element-be924ce elementor-invisible elementor-widget elementor-widget-heading" data-id="be924ce" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;,&quot;_animation_delay&quot;:200}" data-widget_type="heading.default">
                                                            <div class="elementor-widget-container">
                                                                <h class="elementor-heading-title elementor-size-default"> Browse By Unit <span class="text-theme"></span></h2>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-f3c0488 elementor-widget elementor-widget-spacer" data-id="f3c0488" data-element_type="widget" data-widget_type="spacer.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-spacer">
                                                                    <div class="elementor-spacer-inner"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-fef35ad elementor-invisible elementor-widget elementor-widget-text-editor"
                                                             data-id="fef35ad" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;,&quot;_animation_delay&quot;:350}" data-widget_type="text-editor.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-text-editor elementor-clearfix">
                                                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-b2fc0ae elementor-widget elementor-widget-spacer" data-id="b2fc0ae" data-element_type="widget" data-widget_type="spacer.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-spacer">
                                                                    <div class="elementor-spacer-inner"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <section class="elementor-element elementor-element-d1f011e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                                                 data-id="d1f011e" data-element_type="section">
                                                            <div class="elementor-container elementor-column-gap-extended">
                                                                <div class="elementor-row">
                                                                    <!-- unit box begin -->
                                                                    <div class="elementor-element elementor-element-86b2a93 elementor-column elementor-col-25 elementor-inner-column" data-id="86b2a93" data-element_type="column">
                                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                                            <div class="elementor-widget-wrap">
                                                                                <div class="elementor-element elementor-element-aa31707 elementor-invisible elementor-widget elementor-widget-workup_job_board_category_banner"
                                                                                     data-id="aa31707" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="workup_job_board_category_banner.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="widget-job-category-banner">
                                                                                            <a href="#">
                                                                                                <div class="category-banner-inner justify-content-center flex-middle">
                                                                                                    <div class="content-inner">
                                                                                                        <div class="category-icon text-theme">
                                                                                                            <i class="icon-bargraph"></i>
                                                                                                        </div>
                                                                                                        <div class="inner">
                                                                                                            <h4 class="title"> Accounting & Finance </h4>
                                                                                                            <div class="number"> <span>3</span> Members </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="category-icon second-icon text-theme">
                                                                                                        <i class="icon-bargraph"></i>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- unitbox end -->
                                                                    <div class="elementor-element elementor-element-fb34064 elementor-column elementor-col-25 elementor-inner-column" data-id="fb34064" data-element_type="column">
                                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                                            <div class="elementor-widget-wrap">
                                                                                <div class="elementor-element elementor-element-088711d elementor-invisible elementor-widget elementor-widget-workup_job_board_category_banner"
                                                                                     data-id="088711d" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;,&quot;_animation_delay&quot;:150}"
                                                                                     data-widget_type="workup_job_board_category_banner.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="widget-job-category-banner ">
                                                                                            <a href="#">
                                                                                                <div class="category-banner-inner justify-content-center flex-middle">
                                                                                                    <div class="content-inner">
                                                                                                        <div class="category-icon text-theme">
                                                                                                            <i class="icon-tools-2"></i>
                                                                                                        </div>
                                                                                                        <div class="inner">
                                                                                                            <h4 class="title"> Automotive Jobs </h4>
                                                                                                            <div class="number"> <span>2</span> Members </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="category-icon second-icon text-theme">
                                                                                                        <i class="icon-tools-2"></i>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-ef64cf3 elementor-column elementor-col-25 elementor-inner-column"
                                                                         data-id="ef64cf3" data-element_type="column">
                                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                                            <div class="elementor-widget-wrap">
                                                                                <div class="elementor-element elementor-element-3b0a668 elementor-invisible elementor-widget elementor-widget-workup_job_board_category_banner"
                                                                                     data-id="3b0a668" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;,&quot;_animation_delay&quot;:300}" data-widget_type="workup_job_board_category_banner.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="widget-job-category-banner">
                                                                                            <a href="#">
                                                                                                <div class="category-banner-inner justify-content-center flex-middle">
                                                                                                    <div class="content-inner">
                                                                                                        <div class="category-icon text-theme">
                                                                                                            <i class="ti-briefcase"></i>
                                                                                                        </div>
                                                                                                        <div class="inner">
                                                                                                            <h4 class="title"> Business </h4>
                                                                                                            <div class="number"> <span>3</span> Members </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="category-icon second-icon text-theme">
                                                                                                        <i class="ti-briefcase"></i>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-b728c43 elementor-column elementor-col-25 elementor-inner-column"
                                                                         data-id="b728c43" data-element_type="column">
                                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                                            <div class="elementor-widget-wrap">
                                                                                <div class="elementor-element elementor-element-be52b9f elementor-invisible elementor-widget elementor-widget-workup_job_board_category_banner"
                                                                                     data-id="be52b9f" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;,&quot;_animation_delay&quot;:450}" data-widget_type="workup_job_board_category_banner.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="widget-job-category-banner ">
                                                                                            <a href="#">
                                                                                                <div class="category-banner-inner justify-content-center flex-middle">
                                                                                                    <div class="content-inner">
                                                                                                        <div class="category-icon text-theme">
                                                                                                            <i class="ti-ruler-pencil"></i>
                                                                                                        </div>
                                                                                                        <div class="inner">
                                                                                                            <h4 class="title"> Education Training </h4>
                                                                                                            <div class="number"> <span>4</span> Members </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="category-icon second-icon text-theme">
                                                                                                        <i class="ti-ruler-pencil"></i>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <section class="elementor-element elementor-element-6122046 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                                                 data-id="6122046" data-element_type="section">
                                                            <div class="elementor-container elementor-column-gap-extended">
                                                                <div class="elementor-row">
                                                                    <div class="elementor-element elementor-element-a832053 elementor-column elementor-col-25 elementor-inner-column" data-id="a832053" data-element_type="column">
                                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                                            <div class="elementor-widget-wrap">
                                                                                <div class="elementor-element elementor-element-044928d elementor-invisible elementor-widget elementor-widget-workup_job_board_category_banner"
                                                                                     data-id="044928d" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="workup_job_board_category_banner.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="widget-job-category-banner">
                                                                                            <a href="#">
                                                                                                <div class="category-banner-inner justify-content-center flex-middle">
                                                                                                    <div class="content-inner">
                                                                                                        <div class="category-icon text-theme">
                                                                                                            <i class="ti-heart-broken"></i>
                                                                                                        </div>
                                                                                                        <div class="inner">
                                                                                                            <h4 class="title"> Healthcare </h4>
                                                                                                            <div class="number"> <span>2</span> Members </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="category-icon second-icon text-theme">
                                                                                                        <i class="ti-heart-broken"></i>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-b6360aa elementor-column elementor-col-25 elementor-inner-column" data-id="b6360aa" data-element_type="column">
                                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                                            <div class="elementor-widget-wrap">
                                                                                <div class="elementor-element elementor-element-47650df elementor-invisible elementor-widget elementor-widget-workup_job_board_category_banner"
                                                                                     data-id="47650df" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;,&quot;_animation_delay&quot;:150}" data-widget_type="workup_job_board_category_banner.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="widget-job-category-banner ">
                                                                                            <a href="#">
                                                                                                <div class="category-banner-inner justify-content-center flex-middle">
                                                                                                    <div class="content-inner">
                                                                                                        <div class="category-icon text-theme">
                                                                                                            <i class="icon-wine"></i>
                                                                                                        </div>
                                                                                                        <div class="inner">
                                                                                                            <h4 class="title"> Restaurant Food </h4>
                                                                                                            <div class="number"> <span>4</span> Members </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="category-icon second-icon text-theme">
                                                                                                        <i class="icon-wine"></i>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </section>
                                                        <div class="elementor-element elementor-element-34cb250 elementor-widget elementor-widget-spacer"
                                                             data-id="34cb250" data-element_type="widget"
                                                             data-widget_type="spacer.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-spacer">
                                                                    <div class="elementor-spacer-inner"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <section class="elementor-element elementor-element-f244caa elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible elementor-section elementor-inner-section"
                                                                 data-id="f244caa" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;none&quot;,&quot;animation_delay&quot;:200}">
                                                            <div class="elementor-container elementor-column-gap-extended">
                                                                <div class="elementor-row">
                                                                    <div class="elementor-element elementor-element-12f713b elementor-column elementor-col-100 elementor-inner-column" data-id="12f713b" data-element_type="column">
                                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                                            <div class="elementor-widget-wrap">
                                                                                <div class="elementor-element elementor-element-7250ef5 elementor-align-center elementor-widget elementor-widget-button"
                                                                                     data-id="7250ef5" data-element_type="widget" data-widget_type="button.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="elementor-button-wrapper">
                                                                                            @Html.ActionLink("Browse All Units", "Units", "Admin", null, new { @class = "elementor-button-link elementor-button elementor-size-lg", @role = "button" })
                                                                                           
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="elementor-element elementor-element-668555e elementor-widget elementor-widget-spacer" data-id="668555e" data-element_type="widget" data-widget_type="spacer.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="elementor-spacer">
                                                                                            <div class="elementor-spacer-inner">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- second section ends -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>