@{
    Layout = "~/Views/Shared/DetailsLayout.cshtml";
}


<!-- InnerPage breadcrumb begin -->
<section id="apus-breadscrumb" class="breadcrumb-page apus-breadscrumb ">
    <div class="container">
        <div class="wrapper-breads">
            <div class="wrapper-breads-inner">
                <div class="breadscrumb-inner flex-middle-sm clearfix">
                    <div class="ali-right">
                        <h2 class="bread-title">Register</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- InnerPage breadcrumb end -->
<!-- InnerPage content lists begin -->
<section class="candidate_single_layoutv1">
    <section id="primary" class="content-area container inner">
        <div id="main" class="site-main content" role="main">
            <div class="single-listing-wrapper" data-latitude=" 51.557568" data-longitude="-0.176660">


                <article id="post-833"
                         class="candidate-single-v1 post-833 candidate type-candidate status-publish has-post-thumbnail hentry candidate_category-design-multimedia candidate_location-london">

                    <!-- Main content -->
                    <div class="row content-single-candidate">
                        <div class="col-xs-12 list-content-candidate col-md-8">

                            <!-- heading -->
                            <div class="candidate-detail-header box-detail">

                                <div class="candidate-top-wrapper text-center">

                                    <div class="candidate-thumbnail">

                                        <div class="inner-image">
                                            <img width="150" height="150"
                                                 src="~/Content/Images/06/client-2-150x150.jpg"
                                                 class="attachment-thumbnail size-thumbnail wp-post-image"
                                                 alt="" sizes="(max-width: 150px) 100vw, 150px">
                                        </div>
                                        <span class="urgent">Suspended</span>
                                    </div>
                                    <div class="clearfix">
                                        <div class="title-wrapper">
                                            <h1 class="candidate-title">Harry Anderson</h1>
                                        </div>
                                        <div class="candidate-job">
                                            Unit Secretary
                                        </div>
                                    </div>
                                </div>

                                <div class="candidate-information">
                                    <ul class="list-detail-candidate clearfix">
                                        <li>
                                            <div class="job-phone">
                                                <i class="fa fa-user-circle-o"></i>
                                                Female
                                            </div>
                                        </li>
                                        <li>
                                            <div class="job-phone">
                                                <i class="fa fa-phone"></i> +610 123 789
                                            </div>
                                        </li>
                                        <li>
                                            <div class="job-email">
                                                <i class="ti-email"></i>
                                                Designblue@apus.com
                                            </div>
                                        </li>
                                        <li>
                                            <div class="job-location">
                                                <i class="flaticon-location-pin"></i>Paris
                                            </div>
                                        </li>
                                        <li>
                                            <div class="job-deadline with-icon">
                                                <i class="fa fa-calendar-check-o"></i> June 29, 2019
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="detail-wrapper">
                                    <div class="detail-wrapper-header-reform">
                                        <h5>Units/FCs</h5>
                                    </div>
                                    <div>
                                        <ul class="list-detail-candidate">
                                            <li class="col-sm-6 col-md-3 col-xs-12">
                                                <div class="job-location">
                                                    <i class="fa fa-minus"></i>
                                                    <a href="#">FAD</a>
                                                </div>
                                            </li>
                                            <li class="col-sm-6 col-md-3 col-xs-12">
                                                <div class="job-location">
                                                    <i class="fa fa-minus"></i>
                                                    <a href="#">Zenith</a>
                                                </div>
                                            </li>
                                            <li class="col-sm-6 col-md-3 col-xs-12">
                                                <div class="job-location">
                                                    <i class="fa fa-minus"></i>
                                                    <a href="#">Media</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- job description -->
                            <!-- Review -->

                        </div>
                        <div class="col-xs-12 col-md-4 sidebar-single-candidates">
                            <aside class="widget widget_apus_candidate_buttons">
                                <div id="" class="">
                                    <a href="javascript:void(0);" class="btn btn-block btn-apply">Enable</a>

                                </div>
                            </aside>
                            <aside class="widget widget_apus_candidate_info">
                                <h2 class="widget-title"><span>Tag Information</span></h2>
                                <div class="job-detail-detail in-sidebar">
                                    <div class="social-title"> Tag No:<span> 064</span> </div>

                                    <ul class="list">
                                        <li>
                                            <div class="icon">
                                                <i class="fa fa-calendar-plus-o"></i>
                                            </div>
                                            <div class="details">
                                                <div class="text">Sign-in</div>
                                                <div class="value">2021-05-22 6:32 pm</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="fa fa-calendar-check-o"></i>
                                            </div>
                                            <div class="details">
                                                <div class="text">Sing-out</div>
                                                <div class="value">--/-</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>

                </article><!-- #post-## -->

            </div>

        </div><!-- .site-main -->
    </section><!-- .content-area -->
</section>
<!-- InnerPage content lists end -->