
@{
    Layout = "~/Views/Shared/DetailsLayout.cshtml";
    ViewBag.Title = "Add Unit";
}
<!-- InnerPage breadcrumb begin -->
<section id="apus-breadscrumb" class="breadcrumb-page apus-breadscrumb ">
    <div class="container">
        <div class="wrapper-breads">
            <div class="wrapper-breads-inner">
                <div class="breadscrumb-inner flex-middle-sm clearfix">
                    <div class="ali-right">
                        <h2 class="bread-title">ADD UNIT</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- InnerPage breadcrumb end -->

<!-- InnerPage content lists begin -->
<section id="main-contianer" class="main-content container inner">
    <div class="form-cover">
        @*<div class="sign-in-demo-notice">
            @ViewBag
            <strong>candidate</strong>  or <strong>employer</strong><br> Password: <strong>demo</strong>
        </div>*@
        @if (!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message == "Created")
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Unit Saved.</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        else if(!string.IsNullOrEmpty(ViewBag.Message) && ViewBag.Message != "Created")
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Unit didn't save Correctly.'</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <form method="post" action="~/Admin/AddUnit" class="job-alert-form-reform">
            <div class="form-group">
                <label for="job_alert_form_widget-4_title">Unit Name</label>
                <input type="text" name="Name" class="form-control" id="job_alert_form_widget-4_title">
            </div><!-- /.form-group -->
            <div class="form-group">
                <label for="job_alert_form_widget-4_title">Unit Leader</label>
                <input type="text" name="Leader" class="form-control" id="job_alert_form_widget-4_title">
            </div>
            <div class="form-group">
                <label for="job_alert_form_widget-4_title">Overview</label>
                <textarea name="Overview" maxlength="200" placeholder="max of 200 words..." class="form-control" id="job_alert_form_widget-4_title"></textarea>
            </div>
            <div class="form-group">
                <label for="job_alert_form_widget-4_email_frequency">Responsibilities</label>
                <textarea name="Responsibilities" maxlength="200" placeholder="separate responsibilities with a semi column ;" class="form-control" id="job_alert_form_widget-4_title"></textarea>

            </div><!-- /.form-group -->
            <div class="form-group">
                <button type="submit" class="button">Save Unit</button>
            </div><!-- /.form-group -->
        </form>
    </div>
</section>
<!-- InnerPage content lists end -->