@model IEnumerable<HOGRegister.Models.Unit>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- InnerPage breadcrumb begin -->
<section id="apus-breadscrumb" class="breadcrumb-page apus-breadscrumb default ">
    <div class="container">
        <div class="wrapper-breads">
            <div class="wrapper-breads-inner">
                <div class="breadscrumb-inner flex-middle-sm clearfix">
                    <div class="ali-right">
                        <h2 class="bread-title">All Units</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="jobs-filter-top-sidebar-wrapper filter-top-sidebar-wrapper">
    <aside class="widget widget_job_filter_horizontal_widget">
        <div class="widget-filter-job-top">
            <div class="container">
                <h2 class="widget-title"><span>Search Units </span></h2>
                <!-- Search top form begin -->
                <form method="post" action="#"
                      class="filter-job-form filter-listing-form filter-job-top">
                    <div class="top-search">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row-first-wrapper row">
                                    <div class="col-xs-12 col-sm-4 md-clearfix sm-clearfix">
                                        <div class="form-group form-group-title">
                                            <div class="form-group-inner inner">
                                                <input type="text" name="filter-title" class="form-control "
                                                       value="" id="job_filter_horizontal_widget-4_title"
                                                       placeholder="unit or leader surname">
                                            </div>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    @*<div class="col-xs-12 col-sm-4 ">
                                        <div class="form-group form-group-category  ">
                                            <div class="form-group-inner inner">
                                                <input type="text" name="filter-title" class="form-control "
                                                       value="" id="job_filter_horizontal_widget-4_title"
                                                       placeholder="Member Surname">
                                            </div>
                                        </div>
                                    </div>*@

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="flex-middle justify-content-between">
                                    <div class="visiable-line">
                                        <button type="submit" class="button btn btn-theme-second">Search</button>
                                    </div><!-- /.form-group -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Search top form end -->
            </div>
        </div>
    </aside>
</div>
<!-- InnerPage breadcrumb end -->
<!-- InnerPage content begin -->
<section id="main-container" class=" main-content container inner">
    <div class="row">
        <div id="main-content" class="col-sm-12 col-md-12 col-sm-12 col-xs-12">
            <main id="main" class="site-main layout-type-main" role="main">
                <div data-elementor-type="wp-post" data-elementor-id="338" class="elementor elementor-338"
                     data-elementor-settings="[]">
                    <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                            <section class="elementor-element elementor-element-5149c850 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                                     data-id="5149c850" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-element elementor-element-445944aa elementor-column elementor-col-100 elementor-top-column" data-id="445944aa" data-element_type="column">
                                            <div class="elementor-column-wrap  elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-18436198 elementor-widget elementor-widget-text-editor" data-id="18436198" data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <div class="jobs-listing-wrapper main-items-wrapper" data-display_mode="grid">
                                                                    <div class="jobs-alert-ordering-wrapper">
                                                                        <div class="results-count"> Showing <span class="first">1</span> &ndash; <span class="last">2</span> of 2 results</div>
                                                                        <div class="jobs-ordering-wrapper">
                                                                            <form class="jobs-ordering" method="get" action="#">
                                                                                <div class="label">Sort by: </div>
                                                                                <select name="filter-orderby" class="orderby" data-placeholder="Sort by">
                                                                                    <option value="menu_order" selected='selected'> Default</option>
                                                                                    <option value="newest"> Newest</option>
                                                                                    <option value="oldest"> Oldest</option>
                                                                                </select>
                                                                                <input type="hidden" name="paged" value="1" />
                                                                            </form>
                                                                        </div>
                                                                        <!-- count/page form begin -->
                                                                        <form method="POST" action="#" class="form-workup-ppp">
                                                                            <select name="jobs_ppp" onchange="this.form.submit()">
                                                                                <option value="10" selected='selected'> 10 Per Page </option>
                                                                                <option value="20"> 20 </option>
                                                                                <option value="50"> 50 </option>
                                                                                <option value="100"> 100 </option>
                                                                            </select>
                                                                            <input type="hidden" name="paged" value="10" />
                                                                        </form>
                                                                        <!-- count/page form end -->
                                                                    </div>


                                                                    <div class="jobs-wrapper items-wrapper">
                                                                        <!-- grid row for units begin -->
                                                                        <div class="row">
                                                                            @foreach (var item in Model)
                                                                            {
                                                                                <div class="col-md-3">
                                                                                    <article class="job-grid post-859 job_listing type-job_listing status-publish hentry job_listing_type-internship job_listing_category-telecommunications job_listing_location-new-york job_listing_tag-design job_listing_tag-php job_listing_tag-web"
                                                                                             data-latitude="40.64341405" data-longitude="-74.0009237496013">
                                                                                        <div class="employer-logo text-center">
                                                                                            <a href="#">
                                                                                                <img width="120" height="120" src="~/Content/Images/08/e2.jpg" class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                     alt="" sizes="(max-width: 120px) 100vw, 120px" />
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="job-information">
                                                                                            <h2 class="job-title">
                                                                                                <a href="#" rel="bookmark">@Html.DisplayFor(x => item.Name)</a>
                                                                                            </h2>
                                                                                            <div class="job-location">@Html.DisplayFor(x => item.Overview).ToString().Remove(21)</div>
                                                                                            <a class="btn btn-browse" href="~/Admin/UnitDetail/@item.Id">Browse Unit</a>

                                                                                        </div>
                                                                                    </article>

                                                                                </div>
                                                                            }
                                                                        </div>
                                                                        <!-- grid row for units end -->
                                                                    </div>
                                                                </div>
                                                                <div class="jobs-pagination-wrapper main-pagination-wrapper">
                                                                    <ul class="pagination ">
                                                                        <li><span class="page-numbers current">1</span> </li>
                                                                        @*<li><a class="page-numbers" href="page/2/index.html">2</a> </li> <li><a class="next page-numbers" href="page/2/index.html"><i class="flaticon-right-arrow"></i></a> </li>*@
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </main><!-- .site-main -->
        </div><!-- .content-area -->

    </div>
</section>
<!-- InnerPage content begin -->