@{
    Layout = "~/Views/Shared/DetailsLayout.cshtml";
    ViewBag.Title = "FAD";
}

<!-- InnerPage menu header begin -->
<section id="apus-breadscrumb" class="breadcrumb-page apus-breadscrumb ">
    <div class="container">
        <div class="wrapper-breads">
            <div class="wrapper-breads-inner">
                <div class="breadscrumb-inner flex-middle-sm clearfix">
                    <div class="ali-right">
                        <h2 class="bread-title">FAD</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- InnerPage menu header end -->
<!-- InnerPage content lists begin -->
<section class="detail-version-v2">
    <section id="primary" class="content-area container inner">
        <div id="main" class="site-main content" role="main">

            <div class="single-listing-wrapper" data-latitude=" 48.877794" data-longitude="2.335403">
                <article id="post-259" class="job-single-v2 post-259 job_listing type-job_listing status-publish hentry job_listing_type-full-time job_listing_category-education-training job_listing_location-paris">
                    <div class="row content-job-detail-2">
                        <div class="col-xs-12">
                            <!-- heading -->
                            <div class="job-detail-header job-detail-header-v2 clearfix">
                                <div class="employer-logo-wrapper-v2">
                                    <div class="left-inner">
                                        <div class="job-detail-thumbnail">
                                            <a href="../../employer/design-blue/index.html">
                                                <img width="120" height="120" src="../../wp-content/uploads/2019/06/c-4.png" class="attachment-thumbnail size-thumbnail wp-post-image"
                                                     alt="" srcset="https://apusthemes.com/wp-demo/workup/wp-content/uploads/2019/06/c-4.png 120w, https://apusthemes.com/wp-demo/workup/wp-content/uploads/2019/06/c-4-55x55.png 55w"
                                                     sizes="(max-width: 120px) 100vw, 120px" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="inner-info">
                                        <h1 class="job-detail-title">Software Development</h1>
                                        <div class="job-location with-icon"><i class="ti-location-pin"></i> 91 Rue Taitbout 75009 Paris</div>
                                    </div>
                                </div>

                                <div class="job-information clearfix">
                                    <ul class="list-detail-candidate">
                                        <li>
                                            <div class="job-salary with-icon"><i class="ti-credit-card"></i> $<span class="price-text">30</span> - $<span class="price-text">35</span> per month</div>
                                        </li>
                                        <li>
                                            <div class="job-phone">
                                                <div class="phone-wrapper phone-hide">
                                                    <i class="fa fa-phone"></i>
                                                    <a class="phone" href="tel:+610 123 789">+610 123 789</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="job-email"><i class="ti-email"></i> Designblue@apus.com</div>
                                        </li>
                                        <li>
                                            <div class="job-type">
                                                <div class="job-type with-icon">
                                                    <i class="ti-calendar"></i>
                                                    <a class="type-job" href="../../job-type/full-time/index.html" style="color: #f21136">Full Time</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="job-location">
                                                <i class="flaticon-location-pin"></i>
                                                <a href="../../job-location/paris/index.html">Paris</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="job-deadline with-icon"><i class="ti-credit-card"></i> June 29, 2019</div>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                            <!-- unit description begin -->
                            <div class="job-detail-description">
                                <p></p>
                                <div class="detail-wrapper">
                                    <div class="detail-wrapper-header">
                                        <h4>Overview</h4>
                                    </div>
                                    <div class="detail-wrapper-body">
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                            blanditiis praesentium voluptatum deleniti atque corrupti quos
                                            dolores et quas molestias excepturi sint occaecati cupiditate
                                            non provident, similique sunt in culpa qui officia deserunt
                                            mollitia animi, id est laborum et dolorum fuga. Et harum quidem
                                            rerum facilis est et expedita distinctio.
                                        </p>
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                            blanditiis praesentium voluptatum deleniti atque corrupti quos
                                            dolores et quas molestias excepturi sint occaecati cupiditate
                                            non provident, similique sunt in culpa qui officia deserunt
                                            mollitia animi, id est laborum et dolorum fuga.
                                        </p>
                                    </div>
                                </div>

                                <div class="detail-wrapper">
                                    <div class="detail-wrapper-header">
                                        <h4>Responsibilities</h4>
                                    </div>
                                    <div class="detail-wrapper-body">
                                        <ul class="detail-list">
                                            <li>
                                                Execute all visual design stages from concept to final
                                                hand-off to engineering
                                            </li>
                                            <li>Proven work experienceas a web designer</li>
                                            <li>
                                                Conceptualize original website design ideas that bring
                                                simplicity and user friendliness to complex roadblocks
                                            </li>
                                            <li>
                                                Create wireframes, storyboards, user flows, process flows
                                                and site maps to communicate interaction and design ideas
                                            </li>
                                            <li>
                                                Present and defend designs and key deliverables to peers and
                                                executive level stakeholders
                                            </li>
                                            <li>
                                                Establish and promote design guidelines, best practices and
                                                standards
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                            <!-- unit description end -->

                        </div>
                        <!-- including members begin -->
                        <div class="col-xs-12">
                            <div class="widget releated-jobs">
                                <h4 class="widget-title">
                                    Unit Workers
                                </h4>
                                <div class="widget-content">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-3 md-clearfix sm-clearfix">
                                            <article class="job-grid post-857 job_listing type-job_listing status-publish hentry job_listing_type-full-time job_listing_category-education-training job_listing_location-paris job_listing_tag-css job_listing_tag-developer job_listing_tag-php job_listing_tag-web"
                                                     data-latitude=" 48.880965" data-longitude=" 2.332018">
                                                <div class="employer-logo text-center">
                                                    <a href="../appe-ltd-copy-16/index.html">
                                                        <img width="120" height="120"
                                                             src="../../wp-content/uploads/2019/06/c-6.png"
                                                             class="attachment-thumbnail size-thumbnail wp-post-image"
                                                             alt=""
                                                             srcset="https://apusthemes.com/wp-demo/workup/wp-content/uploads/2019/06/c-6.png 120w, https://apusthemes.com/wp-demo/workup/wp-content/uploads/2019/06/c-6-55x55.png 55w"
                                                             sizes="(max-width: 120px) 100vw, 120px" />
                                                    </a>
                                                </div>

                                                <div class="job-information">

                                                    <h2 class="job-title">
                                                        <a href="../appe-ltd-copy-16/index.html"
                                                           rel="bookmark">Php Developer</a>
                                                    </h2>
                                                    <div class="job-location">
                                                        27 Rue Chaptal 75009 Paris
                                                    </div>

                                                    <a class="btn btn-browse"
                                                       href="#">Browse Job</a>

                                                </div>
                                            </article><!-- #post-## -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- including members end -->
                    </div>
                </article>
            </div>
        </div>
    </section>
</section>
<!-- InnerPage content lists end -->